<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Sub Admin</title>

    <script src="js-libs/jquery-3.5.1.js"></script>
    <script src="js-libs/dataTables.bootstrap5.min.js"></script>
    <script src="js-libs/jquery.dataTables.min.js"></script>
    <script src="javascripts/global.js"></script>


    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="stylesheets/global.css" rel="stylesheet">

    <script>
        document.onreadystatechange = () => {
            document.getElementById("my-alert").style.display = "none";
            document.getElementsByClassName("loader-container")[0].style.display = "none";
            document.getElementById("tool").classList.add('active');
        };
        function next() {
            var can_add=false;
            var children = document.getElementById("main-data-section").children;
            if(children.length==0){
                can_add=false;
                color_red("main-data-l");
            }else{
                color_black("main-data-l");
            }

            var e1 = document.getElementById("select-cart-data");
            var cart_data = e1.value;
            if(cart_data==-1){
                can_add=false;
                color_red("cart-data-l");
            }else{
                color_black("cart-data-l");
            }
            if(can_add){
                document.getElementsByClassName("loader-container")[0].style.display = "flex";
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                    "company_id":company_id,
                    "company":company
                });

                var requestOptions = {
                    method: 'POST',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };

                fetch(location.protocol+'//' + location.host +"/api/create-directory", requestOptions)
                    .then(response => {
                        if(response.status==200){
                            window.location = '/tool';
                        }else{

                            response.text().then(result=>{
                                document.getElementsByClassName("loader-container")[0].style.display = "none";
                                document.getElementById("my-alert").innerText = result;
                                document.getElementById("my-alert").style.display = "block";
                            })
                        }
                    })
                    .catch(error => {
                        document.getElementsByClassName("loader-container")[0].style.display = "none";
                        document.getElementById("my-alert").innerText = "some thing went wrong";
                        document.getElementById("my-alert").style.display = "block";
                    });
            }
        }

        function addData(){
            var e1 = document.getElementById("select-main-data");
            var id = e1.value;
            var dnd = document.querySelector('#select-main-data');
            var name = dnd.options[dnd.selectedIndex].id;
            var children = document.getElementById("main-data-section").children;
            if(id==-1){
                return ;
            }
            for(var i=0;i<children.length;i++){
                if(id == children[i].getAttribute("id")){
                    return ;
                }
            }
            document.getElementById('main-data-section').innerHTML = 
            document.getElementById('main-data-section').innerHTML +
            '<span onclick="_deleteItem(this)" class="mini-card" id="'+id+'">'+name+'  <i  class="fa fa-close"></i></span>';
            
        }
        function getIdsList(){
            var arr = [];
            for(var i=0;i<children.length;i++){
                arr.push(children[i].getAttribute("id"));
            }
            return arr;
        }
        function _deleteItem(elm){
            elm.remove();
        }
    </script>

<style>
    .mini-card{
        padding: 7px 10px;
        border-radius: 2px;
        background: grey;
        margin: 10px;
        color: white;
    }
</style>
</head>
<body>
<% include ../spiner.html%>
<div class="my-container">
    <div class="left-side">
        <% include ../admin_side_bar.html %>
    </div>
    <div class="right-side">
        <div id="my-alert" class="alert alert-danger" role="alert">

        </div>
        <div class="btn-container">
            <a class="cancel-btn" href="javascript:history.back()">cancel</a>
            <span class="submit-btn" onclick="next()">Next</span>
        </div>
        <div class="dt-container">   
            <label class="form-label" id="main-data-l">Main Data</label>
            <select id="select-main-data" onchange="addData()"  class="form-select" aria-label="Default select example" >
                <option value="-1" selected>Open this select menu</option>
                <%types.forEach(value=>{%>
                <option id="<%=value.name%>" value="<%=value.id%>" value_2="<%=value.name%>"><%=value.name%></option>
                <%})%>
            </select>
            <br>
            <div id="main-data-section">

            </div>
            <br>
            <br>

            <label class="form-label" id="cart-data-l">Cart Data</label>
            <select id="select-cart-data"  class="form-select" aria-label="Default select example" >
                <option value="-1" selected>Open this select menu</option>
                <%types.forEach(value=>{%>
                <option id="<%=value.name%>" value="<%=value.id%>" value_2="<%=value.name%>"><%=value.name%></option>
                <%})%>
            </select>
        </div>
    </div>
</div>



</body>
</html>